header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 18vh;
}
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3em;
  color: #0F3057;
}
.header-name {
  font-size: 1.75em;
  font-weight: 600;
}
.header-art {
  font-size: 1.25em;
  font-weight: 500;
  opacity: 0.95;
  margin-block-start: 0;
  width: auto;
}
.header-photo {
  margin-right: 3em;
  max-width: 8rem;
  max-height: 10rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  top: 20px;
}
.header-photo > img {
  width: 110%;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  height: 110%;
}
/* responsive with bootstrap breakpoints */
/* xs devices (portrait phones less than 576 px) */
@media (max-width: 575.98px) {
 .header-text {
  margin-left: 1em;
 }
 .header-name {
    font-size: 1.5em;
  }
 .header-photo {
  margin-right: 1em;
 }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    height: 20vh;
  }
  .header-name {
    font-size: 1.5em;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
  header {
    height: 30vh;
  }
  .header-photo > img {
    width: 90%;
    height: 90%;
  }
}


