section {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
.intro {
  width: 100%;
}
.intro > p {
  text-align: justify;
  font-size: 1.25em;
  color: #4C4D4A;
}
/* p {
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
} */
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3em 0;
}
.main-title {
  font-weight: bold;
  color: #91B9C5;
  font-size: 1.75em;
}
.sculptures {
  margin-top: 3em;
}
.paragraph {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
  margin-top: 2em;
}
.paragraph-text {
  width: 40%;
}
.paragraph-text > p {
  color: #4C4D4A;
  text-align: justify;
  margin-block-start: 0;
  font-size: 1.20em;
}
.odd {
  padding-right: 1em;
}
.even {
  padding-left: 1em;
}
.paragraph-image {
  display: flex;
  align-items: start;
  width: 60%;
  height: auto;
  background-color: blue;
  background-size: cover;
  background-position: center;
}
.paragraph-image > p {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  margin-block-start: 0.25em;
}
.one {
  background-image: url("../../images/balade_poetique.jpg");
  justify-content: flex-end;
}
.two {
  background-image: url("../../images/arbres_histoire.jpg");
  justify-content: flex-start;
}
.three {
  background-image: url("../../images/interieurs_chimeriques.jpg");
  justify-content: flex-end;
}
.four {
  background-image: url("../../images/paysages_vagabondages.jpg");
  justify-content: flex-start;
}
.five {
  background-image: url("../../images/sculpture.jpg");
  justify-content: flex-end;
}
aside {
  width: 80vw;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 3em;
}
aside > p {
  font-size: 1.20em;
  color: #4C4D4A;
}
.fa-regular {
  color: #91B9C5;
  padding-top: 0.1em;
}
