.main-title-expos {
  margin-top: 4rem;
  font-weight: bold;
  color: #91B9C5;
  font-size: 2rem;
}
.journey-section {
  text-align: justify;
}
.journey-list > li {
  font-size: 1.5rem;
  color: #4C4D4A;
  margin-bottom: 1rem;
}
