.paintings {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
.paintings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paintings-header__title {
  font-weight: bold;
  color: #91B9C5;
  font-size: 2.25rem;

}
.paintings-header__link {
  font-size: 1.75rem;
  font-style: italic;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.paintings-grid {
  display: grid;
  width: 100%;
  margin: auto;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.painting-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.painting-card__title {
  text-align: center;
}
.painting-card__img {
  width: 100%;
  height: 100%;
}
.painting-card__paragraph{
  font-weight: 600;
  text-align: center;
  margin: 0;
}
