.paintings {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  margin-bottom: 2rem;
}
.paintings-title {
  font-weight: bold;
  color: #91B9C5;
  font-size: 2.25rem;
}
.paintings-grid {
  display: grid;
  width: 100%;
  margin: auto;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.painting-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.painting-card__title {
  text-align: center;
  color: #0F3057;
}
.painting-card-img-container {
  width: 100%;
  height: 100%;
  background-color: #91B9C5;
}
.painting-card__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -webkit-transition: transform 200ms ease-in-out;
  -ms-transition: transform 200ms ease-in-out;
  -moz-transition: transform 200ms ease-in-out;
  transition: all 200ms ease-in-out
}
.painting-card__img_bis {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: transform 200ms ease-in-out;
  -ms-transition: transform 200ms ease-in-out;
  -moz-transition: transform 200ms ease-in-out;
  transition: all 200ms ease-in-out
}
.painting-card__img:hover, .painting-card__img_bis:hover {
  box-shadow: 0px 0px 50px #000000;
  object-fit: contain;
  background-color: #91B9C5;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}
.painting-card__paragraph{
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: #0F3057;
}
.painting-card__img_test {
  width: 100%;
  height: 100%;
  background-color: #91B9C5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: transform 200ms ease-in-out;
  -ms-transition: transform 200ms ease-in-out;
  -moz-transition: transform 200ms ease-in-out;
  transition: all 200ms ease-in-out
}

.painting-card__img_test:hover {
  box-shadow: 0px 0px 50px #000000;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(2);
}
